html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

::placeholder {
    color: #ccc;
    font-size: 15px;
}

.add-button{
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 999;
}

.sort-lastest-button{
    right: 20px;
    bottom: 200px;
    position: fixed;
    z-index: 999;
}

.sort-oldest-button{
    right: 20px;
    bottom: 140px;
    position: fixed;
    z-index: 999;
}

.category-button{
    right: 20px;
    bottom: 80px;
    position: fixed;
    z-index: 999;
}
.refresh-button{
    right: 20px;
    bottom: 260px;
    position: fixed;
    z-index: 999;
}

.header {
    justify-content: center;
    display: flex;
    align-items: center;
    background: rgb(112, 111, 111);
    color: #fff;
    margin-bottom: 50px;
    & p {
        font-size:25px;
        margin:25px;
        font-family: "Nanum Gothic", sans-serif;
    }
    & img {
        margin-left:25px;
        height:50px;
    }

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.05),
    0 16px 16px rgba(0, 0, 0, 0.05);
}


.title-input {
    padding: 10px;
    border: none;
    outline: none;
}

.title-input::placeholder {
    font-size: 18px;
}


.add-btn {
    padding: 5px 10px;
    margin: 20px;
    border: none;
    color: #000;
    outline: none;
    font-size: 10px;
    cursor: pointer;
}   

.note-editor {    
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 16px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    border-radius: 3px;
    textarea {
        padding: 10px;
        resize: none;
        border: none;
        &:hover {
            outline: 0;
        }
        &:focus {
            outline: 0;
        }
    }
    
}

.note-title {
    margin-right: 15px;
    outline: none;
}

.noteContainer {
    column-count: 4;
    column-gap: 1em;
    margin: 50px 25px;
}
.searchNoteContainer {
    column-count: 4;
    column-gap: 1em;
    margin: 50px 25px;
    background-color: rgb(179, 179, 179);
}



.note {
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,90,250,0.05),
      0 4px 4px rgba(0,90,250,0.05),
      0 8px 8px rgba(0,90,250,0.05),
      0 16px 16px rgba(0,90,250,0.05);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    background: #fff;
    word-break: break-word;
    cursor: pointer;
    grid-row-end: span 1;
}

.note-editor-bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
}

.delete {
    position: absolute;
    right: 25px;
    top: 25px;
}
.modify {
    position: absolute;
    right: 50px;
    top: 25px;
}

.category-div{
    margin: 0px 15px;
}

.category-content{
    padding-top: 10px;
    margin: 0px 30px;
}


.close {
    position: absolute;
    right: 25px;
    top: 20px;
}

.category-input {
    padding: 10px 10px 0px;
    border: none;
    //outline: none;
}

.category-input::placeholder {
    font-size: 18px;
}

.category-list{
    padding-left: 8px;
    padding-bottom: 2px;
    padding-top: 7px;
}

.category-add{
    padding-top: 10px;
    position: absolute;
    right: 50px;
    color: rgb(168, 168, 168);
}

.category-modify{
    position: absolute;
    right: 70px;
    color: lightgray;
}

.category-delete{
    position: absolute;
    right: 50px;
    color: lightgray;
}

.search{
    justify-content: right;
}

.search-container{
    
    background: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0 , 0.4);
}

.search-container:hover > .search-input{
    width: 200px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: lightgray;
}